@media (max-width: 425px){
    .main_content{
        display: block;
        background-color: white;
        margin: 0 auto 0 auto;
        width: 80vw;
        height: 85vh;
        margin: 5% auto 20% auto;
    }

    .parfum_image_desktop{
        display: none;
    }

    .parfum_image_mobile{
        display: block;
        max-width: 100%;
        border-radius: 10px 10px 0 0;
        background-size: cover;
    }

    .main_content{
        height: 100%;
    }
}


